.footer {
  text-align: center;
  padding: 20px;
  background-color: #343a40;
  color: #f8f9fa;
}

.footer.light {
  background-color: #f8f9fa;
  color: #343a40;
}

.footer.dark {
  background-color: #212529;
  color: #f8f9fa;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.social-icons a {
  margin: 0 10px;
  font-size: 18px;
  transition: color 0.3s;
  color: #f8f9fa;
}

.social-icons.light a {
  color: #343a40;
}

.social-icons a:hover {
  color: #007bff;
}
